<!-- <head>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Simple Ticketing</title>

</head>

<body>
	<div class="container">

		<div class="row header">

			<div class="col-xs-12 col-sm-3">
				{{> Title}}
			</div>

			<div class="col-xs-12 col-sm-offset-1 col-sm-8">
				{{> TopNav}}
			</div>

			<div class="col-xs-12 wide">
				{{> SubNav}}
			</div>

		</div> 

		<div id="column-wrapper" class="row">

			<div class="col-xs-12 col-sm-offset-1 col-sm-10">
				<div class="content">

					{{renderPage}}

				</div>
			</div>

		</div> 

		<div class="row">
			<div class="col-xs-offset-1 col-xs-10 footer">

			
				{{{FooterHeading 'Company'}}}


			
				{{{FooterHeading 'Social'}}}


				
				{{{FooterHeading 'Contact'}}}


			</div>
		</div> 

	</div>
</body> -->