<head>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Simple Ticketing</title>

</head>

<body>
	<div name="container">

		<!-- Header -->
		{{> Header}}

		<!-- Content -->
		<div name="content">
			{{renderPage}}
		</div>

	</div>

	<!-- Footer -->
	{{> Footer}}

</body>

