/* CSS declarations */
/* <Arranged Aplphabetically> */

body {
	font-family: "Avenir W02", Avenir, Futura, "Gill Sans", Calibri, "Century Gothic", "AppleGothic", Helvetica, Arial, sans-serif;
	height: 100%;
	width: 100%;
	z-index: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}

div {
	display: block;
}

html {
	height: 100%;
	width: 100%;
}



