
/* Header */
li.nav-tab:hover, li.nav-tab:focus {
	border: 2px solid #0BB5FF;
	border-radius: 4px;
	/*background-color: white;*/
	/*border-top: 2px solid #0BB5FF;*/
}

li.nav-tab:hover a.nav-link, li.nav-tab:focus a.nav-link {
	font-weight: bold;
	text-decoration: none;
}
