/*
    Base CSS File
    
        Sets up all default and normal CSS for elements in
    SimpleTicketing.
        - MediaQueries are handled in mediaQueries.css
        - interactive CSS is handled in interactive.css

        @headerBg: white;

        @hoverColor: black;
        @hoverBg: white;

        @blue: #0BB5FF; // #06DCFB
        @red: #FE2E64;
        @orange: #d8532a;
        @brickRed: #ac5160;
        @yellow: #eb9d1a; // #FFE920
        @green: #2DC800;
        @purple: #7059ac;
*/

/* Container */
div[name='container'] {
	background-image: url("/img/bg_square.png");
	background-repeat: repeat;
	min-height: 1000px;
	width: 100%;
	overflow: hidden;
	padding: 0px 0px 0px 0px;
    position: relative;
}

button.add {
    width: 90px;
}

button > a.action-link { 
    color: white;
    font-weight: normal;
    text-decoration: none;
}
button:hover > a.action-link, button:focus > a.action-link,
button > a.action-link:hover, button > a.action-link:focus {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

span.form-group-label {
    display:inline-block;
    font-size: 115%;
    font-weight: bold;
    margin: 0px 5px;
    margin-left: 25px;
}

.form-control {
    display:inline-block;
    float: right;
    height: 27px;
    padding: 5px;
}

/* Content */
div[name='content'] {
    position: relative;
}

div[name='failure'] {
    border: 1px solid red;
    height: 100%;
    width: 100%;
}

div[name='success'] {
    border: 1px solid green;
    height: 100%;
    width: 100%;
}

div.crud-info {
    position: relative;
    height: 100%;
    width: 100%;
}

div.element {
    margin: 15px;
}

.table-bordered > thead > tr > th.list-heading {
    border: 1px solid black;
    height: 100%;
    text-align: center;
}
.table-bordered > tbody > tr > td.listing {
    border: 1px solid black;
    height: 10px;
    text-align: center;
}

/* Footer */
div[name='footer'] {
/*    background-color: #2e2e2e;*/
    border-top: 8px solid black;
    height: 65px;
    width: 100%;
}

div.about {
    color: #8f8f8f;
    font-size: 90%;
    margin-left: 20px;
    margin-top: 15px;
    opacity: .7;
}

a.footer-link {
    color: #0BB5FF;
    opacity: .7
}


/* Header */
div[name='header-normal'] {
    background-color: white;
    border-bottom: 8px solid black;
    height: 150px;
    margin-top: -20px;
    margin-bottom: 75px;
    padding: 10px;
    position: relative;
}
div[name='normal-logo'] {
    height: 60px;
    width: 100%;
    z-index: 125;
}
/*div[name='fixed-logo'] {
    height: 30px;
    margin-top: -30px;
    width: 100%;
    z-index: 125;
}*/
div[name='normal-nav'] {
    float: right;
    height: 50px;
    z-index: 125;
}
div[name='fixed-nav'] {
    height: 40px;
    margin-bottom: 6px;
    width: 100%;
    z-index: 125;
}
ul.navlist {
    height: 100%;
}
li.nav-tab {
    display: inline-block;
    height: 100%;
    text-align: center;
}
a.nav-link {
    color: black;
    font-size: 115%;
}
    /* HUD Glyphs */
span.hud {
    height: 20px;
    margin-right: 2px;
    width: 20px;
}

/* Panel */
.Panel {
    background-color: white;
    border: 4px solid black;
    border-radius: 8px;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 90%;
}


.bottom-half {
    height: 49%;
    width: 100%;
}
.top-half {
    height: 49%;
    margin-bottom: 2px;
    width: 100%;
}

hr.Panel-divider {
    margin: 15px auto;
    width: 90%;
}

table {
    background-color: white;
}

table > tr > td { 
    overflow-x: scroll;
}

thead {
    height: 30px;
}

th, td {
    padding: 1px;
}
tbody > tr > td.cell {
    border: 1px solid black;
}

/* Thanks! Src: http://stackoverflow.com/questions/17808685/table-in-div-with-scrollbar */
.table-wrapper
{
    overflow: auto;
}



