
/* Desktops */
@media (min-width: 1000px) {

	div[name='container'] {
		min-height: 800px;
		margin: 0 auto;
		width: 800px;
	}

	div[name='normal-nav'] {
		width: 500px;
	}

	div.form-group {
		width: 85%;
	}

	.form-control {
		width: 400px;
	}

	.Panel {
		padding: 15px 20px 20px 20px;
		width: 90%;
	}

	table.list {
    	width: 100%;
	}
	td.listing {
		height: 15px;
		width: 50px;
	}
	input.list-input {
		height: 100%;
		width: 100%;
	}

	ul.nav {
	    float: right;
	    width: 500px;
	}
	li.nav-tab {
		margin-left: 5px;
		margin-right: 5px;
		width: 100px;   
	}

}

/* Tablets */
@media (min-width: 769px) and (max-width: 989px) {

	#header {
		height: 100px
	}

}

/* Phones */
@media (max-width: 768px) {

	#header {
		height: 100px
	}

}
