<template name="Create">

	<div class="Panel">

		<h4>New {{docType}}</h4>

		<form name="create-form" role="form">
			{{#each fields}}
				{{{FormTextGroup key value editing}}}
			{{/each}}
			<div class="clear"></div>
			<hr class="panel-divider">
			<button name="create" type="button" class="add btn btn-success">Create</button>
		</form>

	</div>

</template>