<template name="Edit">

	<div class="Panel">

		<h4>{{docType}} {{docId}}</h4>

		<form name="edit-form" role="form">
			{{#each fields}}
				{{{FormTextGroup key value editing}}}
			{{/each}}
			<div class="clear"></div>
			<hr class="panel-divider">
			<button name="save" type="button" class="add btn btn-success">Save</button>
			<button name="delete" type="button" class="add btn btn-danger">Delete</button>
		</form>

	</div>

</template>