<template name="Footer">

	<div name="footer">

		<div class="about">
			<span class="">Written in 
				<a class="footer-link" href="https://github.com/meteor/meteor">MeteorJS</a>
				and 
				<a class="footer-link" href="http://getbootstrap.com/">Twitter Bootstrap 3</a>
			</span>
		</div>

	</div>

</template>