<template name="Table">

	<!--
		NOTE:

			Keys for fields ~ table headers will be sorted alphabetically;
			the keys used will be determined by "Sample Records", which are
			documents in the respective DB that all have the value of '_'.
	-->

	<div class="table-wrapper">
		<table class="list table-bordered">
			<thead>
				<tr>
					{{#each this.Keys}}
						<th class="list-heading">{{{this}}}</th>
					{{/each}}
				</tr>
			</thead>
			<tbody>

				{{#each List this.CollectionName this.Keys}}

					<tr docId="{{this.id}}">
						{{#each this.columns}}
							<td class="listing" name="{{{this.key}}}">{{{this.value}}}</td>
						{{/each}}
					</tr>

				{{/each}}

			</tbody>
		</table>
	</div>

	<hr class="Panel-divider">

	<!-- Actions -->
	<button type="button" class="add btn btn-success">
		<a class="action-link" href="/{{{this.linkName}}}/add">Add New</a>
	</button>

</template>