<template name="Admin">

	<!--
		"Control 'Panel'" for each of the places
			-> control the fields that appear for Forms in each area
	--> 

	<!-- Basic [this] User Settings (e.g., option: fixed header on scroll) -->
	<div class="Panel">

		<!-- Assets -->

		<hr class="Panel-divider">

	</div>

	<!-- Reports Table -->
	<div class="Panel">

	</div>

</template>