<template name="Assets">

	<!--
		> to PDF/Excel(CSV)
		> pagination
		> Custom field addition
			-> should be in "add asset" panel/dialog/box/window ... (AND have a checkbox for if the field should be for-all-devices)
		> Basic Report Generator + Graph Tool for Charts
			for all DB data fields
			(e.g., user (Assets) -> "new report" -> Avg Open Time for Tickets for EachEmployee . . .)

		Rows: 
			(Table 1: Devices)
			(Table 2: Parts)
	-->

	<!-- Assets Table -->
	<div class="Panel">

		<!-- Table: Assets -->
		<h4>Assets: </h4>
			<!-- CRUD CSS Div -->
		<div class="crud-info">
			{{#if CRUD_Success}}
				<div name="success">
					<p>Success!</p>
				</div>
			{{else}}

				{{#if CRUD_Failure}}

				{{/if}}

			{{/if}}
		</div>
		
		{{partialExtendedContext 'Table' 'Assets'}}

	</div>

</template>