<template name="Login">
		
	<div class="Panel">
		<form id="login-form" role="form">
			<fieldset>

				<div class="element">
					<div class='form-group'>
						{{{Label 'Username' 'UN'}}}
						<div class='col-xs-12 col-sm-9'>
							<input class='form-control' name='username' type='text' placeholder='admin' />
						</div>
					</div>
				</div>

				<div class="element">
					<div class='form-group'>
						{{{Label 'Password' 'PW'}}}
						<div class='col-xs-12  col-sm-9'>
							<input class='form-control' name='password' type='password' placeholder='password' />
						</div>
					</div>
				</div>

				<div class="element">
					<div class="col-xs-offset-4 col-xs-8 col-sm-offset-6 col-sm-6">
						<button class="btn btn-block btn-info" action="submit">
							<div class="btn-text">Submit</div>
						</button>
					</div>
				</div>

			</fieldset>
		</form>
	</div>

</template>