<template name="Tickets">

	<div class="Panel">

		<!-- <Current Status Display (My Tickets, Open/Closed/IP ...) -->
		<!--
			<Feature>
				"Status Widgets"
					creatable UI elements that display the user's current
					status for all tickets the user is associated to;
					the particular status displayed is chosen at creation
					time from among all of the current list of all
					data attributes

				(Phase 1): "4 common" squares for status
					&& a plus symbol for adding widgets
					(non-functional)

				(Phase 2): adding the functionality to add
					StatusWidgets
		-->

	</div>

	<div class="Panel">

		<!-- Table: Tickets -->
		{{partialExtendedContext 'Table' 'Tickets'}}

	</div>

</template>