<template name="Header-Normal">

	<div name="header-normal">

		<div name="normal-logo">
			{{> Logo}}
		</div>

		<div name="normal-nav">
			<ul class="navlist">
				<li class="nav-tab">
					<!--
						<HUD UI Elements>
							- PLUS (+)
					-->
					<div class="top-half">
						<a class="nav-link" data="Asset" href="/assets">Assets</a>
					</div>
					<div class="bottom-half">
						<span class="hud glyphicon glyphicon-plus"></span>
						<span class="hud glyphicon glyphicon-search"></span>
					</div>
				</li>
				<li class="nav-tab">
					<!--
						<HUD UI Elements>
							- Search glyph >>> dropdown, ... search tickets for text (regex)
							- PLUS (+)
					-->
					
					<div class="top-half">
						<a class="nav-link" href="#">Tickets</a>
					</div>
					<div class="bottom-half">
						<span class="hud glyphicon glyphicon-plus"></span>
						<span class="hud glyphicon glyphicon-search"></span>
					</div>
				</li>
				<li class="nav-tab">
					<!--
						<HUD UI Elements>
							- send msgTo (spch bubble?)
							- NEW messages > goTo

						(Enable forwarding to real email address any/all messages
						w/in Ticketing).
					-->
					<div class="top-half">
						<a class="nav-link" href="#">People</a>
					</div>
					<div class="bottom-half">
						<span class="hud glyphicon glyphicon-envelope"></span>
					</div>
				</li>
				<li class="nav-tab">
					<!--
						<HUD UI Elements>
							- "Me" (logout, ...)
					-->
					<div class="top-half">
						<a class="nav-link" href="#">Admin</a>
					</div>
					<div class="bottom-half">
						<span class="hud glyphicon glyphicon-off"></span>
					</div>
			</ul>
		</div>

	</div>

</template>